<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <title>Antonio Stanislaw</title>
    </head>
    <body>
        <header>
            <nav class="links">
                <a href="/">Sobre <i class="fa fa-commenting "> </i></a>
                <a href="/projects">Projetos <i class="fa fa-rocket"></i> </a>
                
            </nav>
        </header>

        <main >
            <img src="https://avatars1.githubusercontent.com/u/54186220?s=400&u=6095908872ed5e96a473f85605949ad1b2efa98f&v=4" alt="Antonio Stanislaw">
            <h1>Antonio Stanislaw</h1>
            <h3>Supervisor de suporte de TI | Desenvolvedor web, em formação pela Rocketseat</h3>
            <p>
                Sou Bacharel em Sistema de Informação e Técnico em Desenvolvimento de Sistemas, duas das 
                minhas maiores formações nos meus 8 anos de carreira, tenho outras formações, mas essas 
                são as que mais me atenho, pois, é onde eu quero me aperfeiçoar e seguir profissionalmente,
                sou um amante da tecnologia, buscando sempre mais conhecimentos, que agreguem na minha formação profissional.
             </p>
            
        </main>

        <footer class="rodape">
            <nav class="links menor_espacamento">
                <a target="_blank" href="https://www.facebook.com/toninho.vaz.5"><i class="fa fa-facebook-official"></i></a>
                <a target="_blank" href="https://www.instagram.com/tonni.vaz/?hl=pt-br"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="/"><i class="fa fa-whatsapp"></i></a>
                <a target="_blank" href="/"><i class="fa fa-telegram"></i></a>
                <a target="_blank" href="malito:stanislaw.iaw2018@gmail.com"><i class="fa fa-envelope"></i></a>
                <a target="_blank" href="https://github.com/stanislawiaw2018"><i class="fa fa-github"></i></a>
                <a target="_blank" href="https://github.com/stanislawiaw2018"><i class="fa fa-linkedin"></i></a>
                
            </nav>
        </footer>
    </body>
</html>