{% extends "layout.njk" %}

{% block head %}

    <title>Error 404</title>

{% endblock %}

{% block content %}
<div class="englobador">

    <div class="conteiner">
        <img class="img_constelation" src="assets/image/img_contelation.svg" alt="image-contelation"></img>
        <div class="box_text">
            <img src="assets/image/rocketseat.svg"class="log" alt="logo rocketseat.com.br"></img>
            <h1>404...</h1>
            <h2>Repito, 404. Câmbio, na escuta!</h2>

            <h4>ESTAÇÃO RESPONDE:</h4>
            <p>Acho que você chegou ao limite do universo. A página que 
                você requisitou não foi encontrada.
            </p>

            <a class="retorno" href="/">RETORNAR  À HOME</a>
        </div>
    </div>


</div>



{% endblock %}