<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <title>Antonio Stanislaw | Projetos</title>
    </head>
    <body>
        <header>
            <nav class="links">
                <a href="/">Sobre <i class="fa fa-commenting "> </i></a>
                <a href="/projects">Projetos <i class="fa fa-rocket"></i> </a>
                
            </nav>
        </header>

        <main >
            <h1>Projetos</h1>
        </main>

        <section class="cards">
            <div class="card">

                <div class="card_image-content">
                    <img src="https://raw.githubusercontent.com/stanislawiaw2018/projeto.palavras-cruzadas.com/master/arquivos/favicon.jpg" alt="Palavras Cruzadas">
                </div>
                <div class="informative">

                    <div class="card_title">
                        <h3> <i class="em em-game_die" aria-role="presentation" aria-label="GAME DIE"></i> Projeto Palavras Cruzadas</h3>
                    </div>
                    <div class="card_info">
                        <h3> <i class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i> Sobre</h3>
                        <p>
                            Projeto de interatividade no período de pandemia <strong>(Jogo de Palavras-Cruzadas)</strong>,
                            criado com o intuito de entreter um grupo de jovens no período de isolamento social.
                            <h3> <i class="em em-hammer_and_pick" aria-role="presentation" aria-label=""></i> Técnologias Utilizadas</h3>
                            <ul>
                                <li>JavaScript;</li>
                                <li>HTML5;</li>
                                <li>CSS3;</li>
                            </ul>
                           
                        </p>
                        <h3> <i class="em em-eyes" aria-role="presentation" aria-label="EYES"></i> Demonstração</h3>
                        <ul>
                            <li>Acesse ao gif de demonstração do projeto <a href="">Clicando aqui.</a></li>
                            <li> <a href="">Link do projeto</a> </li>
                        </ul>
                        
                       
                    </div>
                </div>
                
            </div>
            <div class="card">

                <div class="card_image-content">
                    <img src="https://github.com/stanislawiaw2018/bootcamp-launchbase-desafio2-1/blob/master/style/image/Desafio2-1.png?raw=true" alt="Desafio 2-1">
                </div>
                <div class="informative">

                    <div class="card_title">
                        <h3> <i class="em em-game_die" aria-role="presentation" aria-label="GAME DIE"></i> Projeto Palavras Cruzadas</h3>
                    </div>
                    <div class="card_info">
                        <h3> <i class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i> Sobre</h3>
                        <p>
                            Projeto de interatividade no período de pandemia <strong>(Jogo de Palavras-Cruzadas)</strong>,
                            criado com o intuito de entreter um grupo de jovens no período de isolamento social.
                            <h3> <i class="em em-hammer_and_pick" aria-role="presentation" aria-label=""></i> Técnologias Utilizadas</h3>
                            <ul>
                                <li>JavaScript;</li>
                                <li>HTML5;</li>
                                <li>CSS3;</li>
                            </ul>
                           
                        </p>
                        <h3> <i class="em em-eyes" aria-role="presentation" aria-label="EYES"></i> Demonstração</h3>
                        <ul>
                            <li>Acesse ao gif de demonstração do projeto <a class="link-demo" id="scxRFxOGY0A">Clicando aqui.</a></li>
                            <li> >>><a href="https://palavras-cruzadas20.000webhostapp.com/" target="_black" class=link-project>Link do projeto</a><<<</li>
                        </ul>
                        
                       
                    </div>
                </div>
                
            </div>
            
        </section>

        <div class="modal-overlay">
            <div class="model">
                <a class="close-model">
                    <i class="fa fa-times fa-2x"></i>
                </a>
            </div>

            <div class="modal-content" >
                <iframe src="" frameborder="0"></iframe>
            </div>
            
        </div>

        <script src="scripts.js"></script>
    </body>
</html>